@import '../../../styles/typography.scss';
@import '../../../styles/utils/variables.scss';

.product-card__buttons {
  display: flex;
  gap: 8px;
}

.product-card__add-to-cart {
  @include buttons-desktop;
  flex-grow: 1;
  height: 40px;
  background: $primary-grey-color;
  border: none;
  border-radius: 8px;
  color: $white;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background: #000;
  }
}

.product-card__favorite {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $white;
  border: 1px solid $icons-outline-color;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    border-color: $primary-grey-color;
  }
}

.product-card__favorite-icon {
  width: 16px;
  height: 16px;
} 