.product {
  &__breadcrumbs {
    display: flex;
    align-items: center;
    gap: 8px;
    grid-column: 1/-1;
    justify-content: start;
    margin-bottom: 24px;

    &--item-category {
      min-width: fit-content;
    }

    &--item-title {
      text-overflow: ellipsis;
    }
  }

  &__button-back {
    display: flex;
    gap: 8px;
    grid-column: 1/-1;
    align-items: center;
  }
}

.slider {
  &__outer-container {
    grid-column: 1/-1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    grid-column: 1/-1;
  }

  &__swiper-thumbnails {
    width: 70px;
  }

  &__image {
    --preview {
      width: 288px;
      height: 288px;
      object-fit: contain;
    }
    &--thumbnail {
      width: 60px;
      height: 60px;
      object-fit: contain;
      cursor: pointer;
    }
  }
}

.slick-slider {
  max-width: 288px;
}

// .slick-track {
//   display: flex;
//   flex-direction: column;
// }
