.product-card__spec-item {
  display: flex;
  justify-content: space-between;
}

.product-card__spec-name {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #89939A;
}

.product-card__spec-value {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #0F0F11;
} 