@import '../../../styles/typography.scss';

.product-card__spec-item {
  display: flex;
  justify-content: space-between;
}

.product-card__spec-name {
  @include small-text-desktop;
  color: #89939A;
}

.product-card__spec-value {
  @include small-text-desktop;
  color: #0F0F11;
} 