@import '../../../styles/typography.scss';

.product-card__price-block {
  display: flex;
  align-items: center;
  gap: 8px;
}

.product-card__price {
  @include h3-desktop;
}

.product-card__full-price {
  @include h3-desktop;
  text-decoration-line: line-through;
  color: #89939A;
} 