.product-card__price-block {
  display: flex;
  align-items: center;
  gap: 8px;
}

.product-card__price {
  font-weight: 800;
  font-size: 22px;
  line-height: 140%;
}

.product-card__full-price {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  text-decoration-line: line-through;
  color: #89939A;
} 