@import '../../styles/utils/mixins.scss';

.cart {
  @include page-grid;
  grid-column: 1/-1;

  &__title {
    grid-column: 1/-1;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 32px;
  }

  &__back-button {
    height: 16px;
    width: 66px;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    color: var(--icons-outline-color);
    background: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__empty-message {
    grid-column: 1/-1;
    font-size: 20px;
    font-weight: 600;
    color: var(--secondary-grey-color);
    text-align: center;
  }

  &__checkout-container {
    grid-column: 1 / -1;

    border: 1px solid var(--element-border-color);
    padding: 24px;

    @include on-desktop {
      grid-column: 17 / 25;
      grid-row: 3 / 5;
      max-height: 206px;
    }
  }

  &__total {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
  }

  &__total-price {
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -1%;
    text-align: center;
    color: var(--primary-grey-color);
  }

  &__total-description {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
    color: var(--secondary-grey-color);
    margin-top: 4px;
  }

  &__checkout-button {
    display: block;
    width: 100%;
    padding: 14px;
    background-color: var(--action-button);
    color: var(--white);
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;

    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;

    &:hover {
      box-shadow: var(--button-hover);
    }
  }
}
