.products-catalog {
  @include page-grid;

  margin-bottom: 40px;
  grid-column: 1/-1;
  &__title {
    grid-column: 1/-1;
    margin-bottom: 32px;
  }

  &__filters {
    display: flex;
    grid-column: 1/-1;
    gap: 24px;
    margin-bottom: 32px;
    flex-wrap: wrap;

    & > * {
      display: flex;
      flex-direction: column;
    }

    label {
      font-weight: 700;
      color: var(--secondary-grey-color);
      margin-bottom: 4px;
      font-size: 12px;
    }

    select,
    .products-catalog__reset {
      height: 40px;
      font-weight: 700;
      font-size: 14px;
      line-height: 21px;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background: var(--white);
      cursor: pointer;
      transition: 0.3s ease;

      &:hover {
        border-color: #333;
      }
    }

    select {
      text-transform: uppercase;
    }
  }

  &__count {
    font-weight: 600;
    line-height: 21px;
    font-size: 14px;
    color: var(--secondary-grey-color);
    margin-bottom: 16px;

    grid-column: span 4;

    @include on-tablet {
      grid-column: span 12;
    }

    @include on-desktop {
      grid-column: span 24;
    }
  }

  &__list {
    grid-column: 1/-1;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    grid-column: span 4;

    @include on-tablet {
      grid-column: span 12;
    }

    @include on-desktop {
      grid-column: span 24;
    }

    button {
      width: 40px;
      height: 40px;
      margin: 0 4px;
      border: 1px solid #ccc;
      background: var(--white);
      cursor: pointer;

      &.active {
        background: #333;
        color: var(--white);
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }

  &__breadcrumbs {
    display: flex;
    align-items: center;
    gap: 8px;
    grid-column: 1/-1;
    justify-content: start;
    margin-bottom: 24px !important;

    @include on-tablet {
      margin-bottom: 40px !important;
    }
  }

  &__button-back {
    grid-column: 1/-1;
    margin-bottom: 16px;
  }
}
