.back-to-top {
  position: fixed !important;
  bottom: 64px;
  right: 24px;
  background-color: #216CFF !important;
  color: white !important;
  z-index: 1000;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out !important;

  &:hover {
    opacity: 1;
    background-color: #005BFF !important;
  }

  @media (max-width: 639px) {
    bottom: 48px;
    right: 16px;
  }
} 