$primary-grey-color: #313237;
$secondary-grey-color: #89939A;
$icons-outline-color: #B4BDC3;
$element-border-color: #E2E6E9;
$element-hover-bg-color: #FAFBFC;
$white: #fff;
$higlight-green: #27AE60;
$higlight-red: #EB5757;

$text-weight-bold: 700;
$text-weight-semibold: 600;
$text-weight-regular: 500;
