.primary-button {
  flex-grow: 1;
  height: 40px;
  background-color: var(--action-button);
  border: none;

  font-weight: $text-weight-bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--white);

  cursor: pointer;
  transition: $transition-behavior;

  // &:active {
  //   background: #222;
  // }

  &--active {
    background-color: var(--white);
    color: var(--highlight-green);
    border: 1px solid var(--element-border-color);

    // &:active{
    //   background-color: rgb(250, 244, 244);
    // }&&&shadow change on dark theme
  }

  &:hover {
    box-shadow: 0px 3px 13px 0px #17203166;
  }
}
