@use '/src/styles/utils/variables.scss' as *;
@use '/src/styles/utils/mixins.scss' as *;

.nav {
  height: 64px;
  background-color: $white;
  border-bottom: $element-border-default;
  margin-bottom: 24px;
  position: sticky;
  top: 0;
  z-index: 11;

  &--mobile {
    height: 100vh;
    position: fixed;
    top: 0;

    display: flex;
    flex-direction: column;

    background-color: $white;

    transform: translateX(-100%);
    transition: $transition-behaviour;

    @include on-tablet {
      display: none;
    }
  }

  &--mobile.active {
    height: 100vh;

    transform: translateX(0);
    transition: $transition-behaviour;
  }

  &__container {
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left__container {
    display: flex;
    align-items: center;
    gap: 16px;

    @include on-desktop {
      gap: 24px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding-inline: 16px;
  }

  &__logo-image {
    height: 35px;
  }

  &__menu {
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
    height: 64px;

    @include on-desktop {
      gap: 64px;
    }

    &--mobile {
      margin-bottom: auto;
    }

    &--mobile-links {
      display: flex;
      margin-inline: auto;
      flex-direction: column;
      align-items: center;

      list-style: none;
    }

    &--mobile--li {
      width: fit-content;
      padding-bottom: 16px;
    }
  }

  &__menu-link {
    height: 62px;
    display: flex;
    align-items: center;
    color: $secondary-grey-color;

    &--mobile {
      color: $secondary-grey-color;
      display: block;
      text-decoration: none;
      height: 27px;
    }
  }

  &__icons {
    display: flex;
  }

  &__icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    text-decoration: none;
    border-left: $element-border-default;
  }

  &__icon {
    object-fit: contain;
  }
}

.link__effects {
  border-bottom: 2px solid transparent;
  transition: $transition-behaviour;

  &:hover {
    color: $primary-grey-color;
    border-bottom: $link-hover-active-border;
  }

  &.active {
    color: $primary-grey-color;
    border-bottom: $link-hover-active-border;
  }
}

.top-bar {
  display: flex;
  justify-content: space-between;
  border-bottom: $element-border-default;
  margin-bottom: 24px;
}

.bottom-bar {
  display: flex;
  justify-content: space-between;

  &__link {
    height: 64px;
    width: 50vw;

    display: flex;
    align-items: center;
    justify-content: center;
    border-left: $element-border-default;
    border-top: $element-border-default;
  }
}
